/* Softreset para resetar as configurações padrões do html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: "aileron";
	src: url("../fonts/ailerons.otf") format("truetype");
}

body {
    background-size: 100vw auto;
    font-style: arial;
    font-size: 14px;
}

/* Se a tela tiver pelo menos 400px vai carregar esses estilos. */
@media (min-width: 400px) {
    body {
      font-size: 16px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }

header {
    height: 100vh;
    display: flex;
    background-image: url(../img/smoke.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: black;
    position: fixed;
    min-width: 100vw;
    top: 0;
    z-index: 2;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 1em 1em;
}

/* Se a tela tiver pelo menos 400px vai carregar esses estilos. */
@media (min-width: 400px) {
    .menu a {
        padding: 5px 10px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 600px) {
    .menu a {
        padding: 10px 100px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 1200px) {
    .menu a {
        padding: 20px 150px;
    }
  }

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: black;
    background-color: white;
}

.titles {
    justify-content: center;
    font-family: 'aileron';
}

.site-subtitle,
.site-title {
    color: #ccc;
    text-align: center;
}

.site-title {
  letter-spacing: 1px;
}
.site-subtitle {
  margin-left: 11px;
  letter-spacing: 17px;
}

@media (min-width: 400px) {
  .site-subtitle {
    margin-left: 13px;
    letter-spacing: 19.5px;
  }
}

@media (min-width: 600px) {
  .site-subtitle {
    margin-left: 17px;
    letter-spacing: 21px;
  }
}

@media (min-width: 1200px) {
  .site-subtitle {
    margin-left: 20px;
    letter-spacing: 24px;
  }
}

.titles .barra {
    border: 0;
    height: 2px;
    width: 20em;
    background-image: linear-gradient(to right, transparent, #ccc, transparent); 
}

#sobre {
  padding: 3em;
}

.sobre {
    min-height: 100vh;
    padding: 0;
    text-align: center;
}

.sobre h2 {
    font-family: arial;
    color: Black;
    margin-bottom: 1.5em;
    text-align: center;
}

.sobre .grid {
    display: grid;
    grid-template-columns: 300px;
    text-align: justify;
    justify-content: center;
}

@media (min-width: 5300px) {
  .sobre .grid {
    grid-template-columns: 0px 300px 200px;
  }
}

@media (min-width: 800px) {
    .sobre .grid {
      grid-template-columns: 20px 400px 380px;
    }
}

@media (min-width: 1200px) {
    .sobre .grid {
      grid-template-columns: 20px 600px 400px;
    }
}

.img-poltrona {
    align-items: right;
}
.poltrona {
    padding: 0 0 0 50px;
    width: 40vw;
    height: auto;
    text-align: right;
}

footer {
  background-color: black;
  position: fixed;
  min-width: 100vw;
  bottom: 0;
  z-index: 2;
  color: white;
  font-family: 'aileron';
  text-align: center;
}

footer h3 {
  letter-spacing: 1px;
}

footer h4 {
  margin-left: 8px;
  letter-spacing: 10px;
}

@media (min-width: 400px) {
  footer h4 {
    margin-left: 9px;
    letter-spacing: 11px;
  }
}

@media (min-width: 600px) {
  footer h4 {
    margin-left: 10px;
    letter-spacing: 12px;
  }
}

@media (min-width: 1200px) {
  footer h4 {
    margin-left: 11px;
    letter-spacing: 13px;
  }
}

