/* Softreset para resetar as configurações padrões do html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 100vw auto;
    font-style: arial;
    font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar esses estilos. */
@media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 16px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 1em 1em;
}

/* Se a tela tiver pelo menos 400px vai carregar esses estilos. */
@media (min-width: 400px) {
    .menu a {
        padding: 5px 10px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 600px) {
    .menu a {
        padding: 10px 20px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 1200px) {
    .menu a {
        padding: 20px 30px;
    }
  }

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: black;
    background-color: white;
}

.titles {
    justify-content: center;
}

.site-subtitle,
.site-title {
    color: black;
    text-align: center;
}

.sobre {
    min-height: 100vh;
    padding: 2em;
}

.sobre h2 {
    font-family: arial;
    color: Black;
    margin-bottom: 1.5em;
}

.sobre .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 320px;
    text-align: justify;
}

